.Experience-section-container {
  margin: 20rem 0rem 0rem 8rem;
}

#Experience-dest {
  font-size: 1px;
  margin-bottom: 15.3rem;
}

.Heading-cont {
  position: relative;
}

#hr-1 {
  position: absolute;
  top: 17rem;
  left: 36.55rem;
  width: 255px;
  height: 1rem;
  border-top: 2.2px solid rgb(124, 120, 120);
}

.Section-title {
  font-family: "Recursive", sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin-left: 1rem;
  letter-spacing: 1px;

  span {
    margin-right: 4px;
    font-size: 19px;
  }
}

.expertiesContent__mainWrapper {
  @include flex(space-between, row);
  margin-top: 2.8rem;
}

.expertiesContent__wrapper {
  margin: 0rem 0 0 0;

  .expertiseText {
    margin: 0rem 0 1.5rem 3rem;
    letter-spacing: 0.3px;
    font-family: "Poppins", sans-serif;
    max-width: 515px;
    font-size: 16.5px;
  }

  .Tagline {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin: 1rem 0 0.5rem 4rem;
    letter-spacing: 1px;
  }

  .Line {
    display: flex;
    font-family: "Recursive", sans-serif;
    font-weight: 400;
    flex-direction: row;
    font-size: 15px;
    margin: 0.6rem 0 0.3rem 4.5rem;

    span {
      font-size: 18px;
      margin-right: 0.8rem;
    }

    p {
      margin: 0.3rem 0 0 0;
      font-size: 14px;
      color: rgb(163, 163, 163);
    }
  }

  .extra1 {
    margin-left: 5.25rem;
  }

  .extra2 {
    margin-left: 12.9rem;
  }

  .extra3 {
    margin-left: 12.4rem;
  }

  .extra4 {
    margin-left: 1.55rem;
  }

  .extra5 {
    margin-left: 2.65rem;
  }
}

.Experience-mid-border-div {
  border-right: 2px solid rgb(91, 90, 92);
  min-width: 3px;
  min-height: 51.5%;
  padding: 15.8rem 0;
  margin: 0 0rem 0 15.5rem;
}

.Output-experience-container {
  height: 35rem;
  width: 51.5%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Experience-btns-container {
  display: flex;
  flex-direction: column;
  height: 84%;
  margin-right: -7rem;
  margin-top: 0.8rem;
}

.Experience-output-box {
  width: 52%;
  height: 85%;
  margin-right: 7rem;
  margin: 0.6rem 7rem 0 0;
  border-radius: 3px;
}

.Output-experience-box-content-container {
  margin: 1.25rem 1rem 1rem 1.25rem;
}

.Post {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.7px;
}

.Industory {
  letter-spacing: 1.5px;
}

.Time-duration {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-top: 0.7rem;
  letter-spacing: 0.7px;
}

.Experience-output-lower-space-wrapper {
  margin-top: 1.75rem;
  margin-right: 1.25rem;
}

.Arrow {
  margin-right: 0.75rem;
}

.Lower-space-point {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15.25px;
  letter-spacing: 0.5px;
}

.Marcom-lower-point-2 {
  margin-top: 1rem;
}

.Josoftech-lower-point-2 {
  margin-top: 1rem;
}

// Buttons Activeness Styling /////

.Marcom-btn {
  width: 11rem;
  height: 6.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  outline: none;
  border: none;
  border-left: 2.5px solid $pink;
  border-top: 1px solid rgb(94, 94, 94);
  border-bottom: 1px solid rgb(94, 94, 94);
}

.Marcom-btn-mod {
  width: 11rem;
  height: 6.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  outline: none;
  border: none;
  border-top: 1px solid rgb(94, 94, 94);
  border-bottom: 1px solid rgb(94, 94, 94);

  &:hover {
    border-left: 2.5px solid $pink;
  }
}

.Huawei-btn {
  width: 11rem;
  height: 6.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  outline: none;
  border: none;
  border-top: 1px solid rgb(94, 94, 94);
  border-bottom: 1px solid rgb(94, 94, 94);
  transition: background-color 0.25s, border 0.15s;

  &:hover {
    border-left: 2.5px solid $pink;
  }
}

.Huawei-btn-mod {
  width: 11rem;
  height: 6.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  outline: none;
  border: none;
  border-top: 1px solid rgb(94, 94, 94);
  border-bottom: 1px solid rgb(94, 94, 94);
  transition: background-color 0.25s, border 0.15s;
  border-left: 2.5px solid $pink;
}

.no__need__point2 {
  display: none;
}
