.projectsImage__popup {
  background-color: rgba(65, 105, 225, 0.72);
}

.projectsImage__popupClose {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: lightblue !important;
  font-size: 25px !important;
  cursor: pointer;
  transition: all 0.2s;
}

.projectsImage__popupClose:hover {
  color: rgb(255, 190, 190) !important
}
