@import "./generic";
@import "./colors";

// HomePage

@import "./HomePage/header";
@import "./HomePage/about";
@import "./HomePage/experience";
@import "./HomePage/projects";
@import "./HomePage/contact";
@import "./HomePage/attachments";
@import "./HomePage/footer";
@import "./responsiveness";

body {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Pointer {
  cursor: pointer;
}

.Btn {
  background-color: #3d3786;
  font-size: 18px;
  border: 0.1px solid #312883;
  font-family: Proxima;
  padding: 1.2rem 2.4rem;
  color: rgb(202, 215, 228);
  letter-spacing: 1px;
  border-radius: 3px;
  outline: none;
  position: relative;
  top: 2.5px;

  &:hover {
    animation: moveup 200ms linear 20ms forwards;
  }
}

@keyframes moveup {
  0% {
    top: 2.5px;
  }
  100% {
    top: 0;
  }
}

.Main_app_ui_container {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.hide__scrollbar::-webkit-scrollbar {
  display: none;
}
